---
import Layout from '../layouts/Layout.astro';
//import { type CollectionEntry, getCollection } from 'astro:content';
import Container from '../components/Container.astro';
import { Debug } from 'astro:components';
import FormattedDate from '../components/FormattedDate.astro';

const { slug } = Astro.params;

let res = await fetch(`https://t2del-astro.instawp.xyz/wp-json/wp/v2/pages?slug=${slug}`);

let [post] = await res.json();

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  let data = await fetch("https://t2del-astro.instawp.xyz/wp-json/wp/v2/pages")
  let posts = await data.json();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}
const originalDate = new Date(post.date);
const isoString = originalDate.toISOString();




---

<Layout title={`${post.title.rendered} | t2del | Wordpress` } meta_description={`${post.yoast_head_json.description}` } body_class={`wp blog-inner ${post.title.rendered}` }>
	<article>
    <Container className="blog-container">
        <div class="date">
          <FormattedDate date={originalDate} />
        </div>
        <h1 set:html={post.title.rendered} />
        <hr />
        <Fragment set:html={post.content.rendered} />
    </Container>
</article>
</Layout>

