---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import { getCollection } from 'astro:content';

import FormattedDate from '../components/FormattedDate.astro';
// import { Debug } from 'astro:components';
const posts_blog = (await getCollection('blog'))
	.filter(post => post.data.status == 'active') // Filter out active posts
  	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()).reverse();
---

<Layout title="Blog | t2del" meta_description="Blog | My Blog" body_class="blog index something you wish to add for any use">
	<section>
		<Container className="custom-class">
			<h2 class="notshow fromleft"> <span class="text-gradient">Blog</span></h2>
			<ul role="list" class="link-card-grid">
				{
					posts_blog.map((post) => (
						<li class="notshow fromtop">
							<a href={`/t2delastro/blog/${post.slug}/`}>
								<img  src={post.data.heroImage} alt={post.data.imgalt} title={post.data.imgalt} />
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
							
						</li>
						
					))
				}
			</ul>
		</Container>			
	</section>
</Layout>