---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Container from '../components/Container.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import CustomModal from '../components/Modal.astro';
import { Image } from "astro:assets"


const posts_blog = (await getCollection('blog'))
	.filter(post => post.data.status == 'active') // Filter out active posts
  	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
const posts_project = (await getCollection('project'))
  //.filter(post => post.data.status == 'active') // Filter out active posts
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---


<Layout title="t2del" meta_description="t2del - meta description" body_class="home index something you wish to add for any use">
	<HomeHeroSection />
		<section class="hide">
			<Container className="custom-class">			
				<ul role="list" class="link-card-grid notshow blur">
					<Card
						href="#"
						title="Documentation"
						body="Learn how Astro works and explore the official API docs."
					
					/>
					<Card
						href="#"
						title="Integrations"
						body="Supercharge your project with new frameworks and libraries."
					
					/>
					<Card
						href="#"
						title="Themes"
						body="Explore a galaxy of community-built starter themes."
						
					/>
					<Card
						href="#"
						title="Community"
						body="Come say hi to our amazing Discord community. ❤️"
					/>
				</ul>
			</Container>
		</section>

		<section id="about">
			<Container className="custom-class">
				<h2 class="notshow fromleft">About <span class="text-gradient">T2del</span></h2>
	
				<div class="link-card-grid">
					<div class="photo">
						<Image src="https://t2del.github.io/images/den.jpg" width={400} height={400} format='webp' alt={'Dennis Macapagal'} class:list={'profile-photo'}></Image>
					</div>
					<div class="description">
						<p>
							A <code>Full-Stack</code> Developer with more than 10 years of relevant experience in web programming. Bringing up-to-date industry skills in front-end and back-end technology such as PHP, HTML, CSS, JavaScript, MySQL and hands-on experience with CMS such as WordPress. Detail-oriented and motivated to drive project completion on target with exceptional quality and guaranteed client satisfaction.
						</p>
						<ul class="list-unstyled list-boxed" id="skills-list">
							<li>PHP</li>
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript (jQuery, Ajax, Json)</li>
							<li>Bootstrap</li>
							<li>Sass / Less</li>
							<li> WordPress/ Woocommerce</li>
							<li>MySQL</li>
							<li>OpenCart</li>
							<li>Laravel</li>
							<li>RestAPI</li>
							<li>GIT</li>
							<li><a href="https://astro.build/">Astro.Build</a></li>
						</ul>
					</div>
					
				</div>
						
			</Container>
		</section>

		<section>
			<Container className="custom-class">
				<h2 class="notshow fromleft"> <span class="text-gradient">Blog</span></h2>
				<ul role="list" class="link-card-grid">
					{
						posts_blog.map((post) => (
							<li class="notshow fromtop">
								<a href={`/t2delastro/blog/${post.slug}/`}>
									<img  src={post.data.heroImage} alt={post.data.imgalt} title={post.data.imgalt} />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
								
							</li>
							
						))
					}
				</ul>				
			</Container>			
		</section>
		
		<section id="portfolio">			
			<Container className="custom-class">
				<h2 class="notshow fromleft"> <span class="text-gradient">Portfolio</span></h2>
				<ul role="list" class="link-card-grid">
					{
						posts_project.map((post) => (
							<li class="notshow blur portfolio-list">
								<CustomModal title={post.data.title} slug={post.slug} classText="animate_underline" imgsrc={post.data.heroImage}  />
							</li>
						))
					}
				</ul>
				{
					posts_project.map((post) => (
						<div id={post.slug} class="modal">						
							<div class="modal-content">								
								<p>{post.data.title}</p>
								<div class="modal-grid">
									<div class="description">
										<div>Role: <span>{post.data.role}</span></div>
										<div>Platform: <span>{post.data.platform}</span></div>
										<a href={post.data.siteUrl} rel="noopener noreferrer"><span>Visit Site</span></a>
									</div>
									<div class="img"><img  src={post.data.heroImage} alt={post.data.title}  title={post.data.title} /></div>
								</div>
							</div>
						</div>
						// 
					))
				}		
			</Container>					
		</section>	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h2 {
		font-size: 3em;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: #00000080;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}	
</style>