---
const { title = 'Welcome, world!', slug, className, imgsrc } = Astro.props;
---

<!-- Store the message prop as a data attribute. -->
<astro-greet data-message={title} data-slug={slug}>
  <a class={` ${className}`}>
    <img  src={imgsrc} alt={title}  title={title} />
    <h4 class="title">{title}</h4>  
  </a>
</astro-greet>



<script>
  class AstroGreet extends HTMLElement {
    constructor() {
      super();

      // Read the message from the data attribute.
      const title = this.dataset.title;
      const slug = this.dataset.slug;
      const button = this.querySelector('a');

        // Get the modal
        var modal = document.getElementById(slug);
        
        button.addEventListener('click', () => {
            modal.classList.add("modalshow");
        });
        // Add a click event listener to the window when the modal is active, add close modal action
        window.addEventListener('click', function(event) {
            if (event.target.id) {  
                event.target.classList.remove('modalshow');
            }
        });
    }
  }
  customElements.define('astro-greet', AstroGreet);
</script>

