---
import '../styles/index.css';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/head/BaseHead.astro';
import { nav } from '../config/nav.js';
import Header from '../components/head/Header.astro';
import Logo from '../components/Logo.astro.jsx';
//import FormattedDate from '../components/FormattedDate.astro';
import Container from '../components/Container.astro';


type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate, heroImage, imgalt } = Astro.props;
console.log(Astro.props)
---
<article>	
	<Container className="blog-container">
		<div class="prose">
			<div class="title">
				<div class="date">
					<!-- <FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					} -->
				</div>
				<h1>{title}</h1>
				<hr />
				<div class="hero-image notshow blur">
					{heroImage && <img width={1920} height={750} src={heroImage} alt={imgalt} loading="lazy"/>}
				</div>
			</div>
			<slot />
		</div>
	</Container>
</article>