---
// component import
import Layout from './Layout.astro';
import Container from '../components/Container.astro';


const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<Layout title={`Blog | ${title}/`} meta_description={`Description | ${description}/`} body_class="blog index something you wish to add for any use">
	<section>
		<Container className="custom-class">
            <div class="post-content">
                <h2 class="notshow fromleft show">{title}</h2>
                <img src={image.src} alt={image.alt} title={title}>
                <div class="content">
                <slot />
                </div>
                <div class="sidebar"></div>
            </div>
        </Container>
    </section>
</Layout>