---
import '../styles/index.css';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/head/BaseHead.astro';
import { nav } from '../config/nav.js';
import Header from '../components/head/Header.astro';
import Logo from '../components/Logo.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Container from '../components/Container.astro';


type Props = CollectionEntry<'project'>['data'];
const { title, pubDate, updatedDate, heroImage,  imgalt } = Astro.props;

---
<article>
	<div class="hero-image notshow blur">
		{heroImage && <img width={1920} height={750} src={heroImage} alt={imgalt} loading="lazy" />}
	</div>
	<Container className="custom-class">
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</Container>
</article>